{% block content %}

{% load static %}

<footer class="footer">
			<div class="holder">
				<div class="footer-block">
					<div class="footer-col">
						<div class="footer-logo"><img src="{% static 'images/logo-black.svg' %}" alt=""></div>
						<ul class="footer-nav">
							<li><a href="">Политика конфиденциальности</a></li>
							<li><a href="">Условия возврата</a></li>
							<li><a href="">Точки самовывоза</a></li>
						</ul>
					</div>
					<div class="footer-col">
						<ul class="footer-nav">
							<li><a href="">Аккордеон</a></li>
							<li><a href="">Угловые диваны</a></li>
							<li><a href="">Выкатные диваны</a></li>
							<li><a href="">Диваны “на пол”</a></li>
							<li><a href="">Диваны книжка</a></li>
							<li><a href="">Диваны еврокнижка</a></li>
						</ul>
					</div>
					<div class="footer-col">
						<ul class="footer-nav">
							<li><a href="">Аккордеон</a></li>
							<li><a href="">Угловые диваны</a></li>
							<li><a href="">Выкатные диваны</a></li>
							<li><a href="">Диваны “на пол”</a></li>
							<li><a href="">Диваны книжка</a></li>
							<li><a href="">Диваны еврокнижка</a></li>
						</ul>
					</div>
					<div class="footer-col">
						<div class="footer-phone"><a href="tel:+88008008080">8 800 800 80 80</a></div>
						<a href="" class="white-button">Задать вопрос</a>
					</div>
				</div>
			</div>

		</footer>

{% endblock %}
